/*************CSS index.html*********** */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "lato", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 1320px) {
  .container {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
  }
}
/*************headrer*********** */
header {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.logo {
  width: 268px;
  height: 93px;
}
/*************section search *********** */
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  background-color: #e7e7e7;
  border-radius: 5px;
}

.search-input {
  background-color: #e7e7e7;
  border: none;
  outline: none;
  padding: 20px;
}

.search-loupe {
  width: 44px;
  height: 44px;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;  
}

.dropdown {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.dropdown-button {
  width: 170px;
  height: 69px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  border: none;
  opacity: 1;
  transition: 0.3s;
}

/* Dropdown button on hover & focus */
.dropdown-button:hover,
.dropdown-button:focus {
  opacity: 0.8;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.down-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  color: #ffffff;
  width: 32px;
  height: 32px;
  margin: 10px;
}

.dropdown-menu {
  font-weight: bold;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Show the dropdown menu */
.show {
  display: block;
}

.dropdown-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown-menu input {
  width: 80%;
  border: none;
  outline: none;
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
}

.dropdown-menu ::placeholder {
  color: #ffffff;
  font-weight: bold;
  opacity: 0.6;
}

.dropdown-menu li {
  list-style: none;
  font-weight: 400;
  display: inline-block;
  width: 170px;
  font-size: 18px;
  padding: 2px;
}

.up-icon::before {
  font-family: "Font Awesome 5 Free";
  content: "\f106";
  font-weight: 900;
  color: #ffffff;
  margin-left: 18px;
}

.field-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  padding-left: 0px;
  margin: 10px;
}

/*************section recipes *********** */

.recipes-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.recipe-card {
  width: 380px;
  height: 364px;
  background-color: #e7e7e7;
  border-radius: 5px;
}

.recipe-card-header img {
  width: 380px;
  height: 178px;
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  margin: 10px 20px 0 20px;
}

.card-title h2 {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: start;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 10px;
  width: 70%;
}

.card-title span {
  text-align: end;
  width: 20%;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  overflow-y: hidden;
  height: 178px;
  padding-top: 5px;
}

.card-body ul {
  list-style: none;
  padding: 0px 5px;
}

.card-body p {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  max-height: 109px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
